---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Conexiones Reales",
    description:
      "Conectamos a startups con sus clientes ideales en un entorno de confianza. Esto permite obtener feedback valioso y validar ideas rápidamente.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Ahorra Tiempo",
    description:
      "Reduce tu costo de adquisición de clientes con introducciones directas. Esto acelera tu proceso de ventas y te acerca al cierre más rápido.",
    icon: "bx:bxs-data",
  },
  {
    title: "Impacto Real",
    description:
      "Diseñamos cada encuentro para que los fundadores obtengan oportunidades tangibles. Aquí no hay espacio para la teoría, solo resultados.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Crecimiento Acelerado",
    description:
      "En solo 60 minutos, podrás validar tus ideas con feedback directo. Aprovecha esta oportunidad para transformar tu enfoque comercial.",
    icon: "bx:bxs-file-find",
  },
];
---

<div class="mt-28 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Diferenciadores Clave de PuntoSaaS
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    PuntoSaaS te ofrece la oportunidad de tener conversaciones significativas con decisores clave. Sin presentaciones, solo un diálogo auténtico que impulsa resultados.
  </p>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
